{% extends "layout.html" %}
{% block script_link %}
<script src="{{ url_for('static', filename='js/response.js')
						 }}"></script>
<script src="{{ url_for('static', filename='js/variables.js')
						 }}"></script>
<script src="{{ url_for('static', filename='js/events.js') }}"></script>
<script src="{{ url_for('static',
						 filename='js/diagnostics/drawing.js') }}"></script>

<script src="{{ url_for('static', filename='js/diagnostics/buttons.js') }}"></script>
{% endblock %}
{% block content %}
<div class="diagnostics">
	<div class="title">
		<label class='status {{ status }}'>Статус: </label>
	</div>
	<div class="body">
		<div class="settings">
			<input type='button' name='patrient' id='patient' class='patient'
						 value='Пацієнт' onclick="addPatient()"></input>
			<label for='level'>Рівень</label>
			<input type='number' name='level' id='level' class='level'
						 min='1' max='10' value='1'></input>
		</div>
		<div class="results" id='results'>

		</div>
	</div>
	<div class="button">
		<input type='button' class='response' id='response'
					 value='Діагностувати' onclick="response_diagnostics()"></input>
	</div>
</div>
<div class='search_modal hidden' id='search_modal_patient'>
	<div class='background_modal' id='background_modal'></div>
	<div class='search_list'>
		<div class='search'>
			<input type='search' name='search' id='search_patients'>
				<label for='search'>
		</div>
		<div class='search_objects_list' id='search_patient_list'>
		</div>
	</div>
</div>
{% endblock %}
{% block style_link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/diagnostics.css') }}" >
{% endblock %}
