<!DOCTYPE html>
<html lang="en">
	<head>
		  <meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width,
																		 initial-scale=1">
			<link rel="stylesheet" type="text/css" href="{{
				url_for('static',
				filename='css/reset.css') }}">
		  <link rel="stylesheet" type="text/css" href="{{
				url_for('static',
				filename='css/main.css') }}" >
			{% block style_link %}{% endblock %}
		  {% if title %}
			<title>{{ title }}</title>
			{% else %}
			<title>-_-</title>
			{% endif %}
		</head>
		<body>
			<style type='text/css'>

        .messages {
				max-width: 90%;
				max-height: 0px;
				padding: 0px;
        z-index: 2;
				}

				.messages .message {
				position: absolute;
			  top: 6%;
				min-width: 40%;
				padding: 5px;
				font-size: 25px;
				border: 2px solid #747474;
				border-radius: 10px;
				z-index: 2;
				}

				.messages .error {
				color: white;
				background-color: #c42929;
				}

				.messages .msg {
				color: white;
				background-color: #84b023;
				}

				.little_button {
				width: 26px;
				height: 26px;
				background-color: white;
				border: 2px solid #747474;
				border-radius: 5px;
				text-align: center;
				font-size: 16px;
				transition: 0.2s;
				}

				{% block style %}{% endblock %}
			</style>
			<div class="messages">
				{% for category, message in get_flashed_messages(with_categories=true) %}
				<div class="message {{ category }}">
					{{ message }}
				</div>
				{% endfor %}
			</div>
			<div class="top">
				<div class="header">
					<div class=left>
						<p class="logo"> OO </p>
					</div>
					<div class=right>
						<a href="/home" class="home"> Home </a>
						<a href="/project"class="project"> FAQ </a>
					</div>
				</div>
			</div>
			<div class=container>
				{% block content %}{% endblock %}
			</div>
			<script type="text/javascript">
				{% block script %}{% endblock %}
			</script>
			{% block script_link %}{% endblock %}
		</body>
</html>
