{% extends "layout.html"%}
{% block script_link %}
<script src="{{ url_for('static',
						 filename='js/response.js')}}"></script>
<script src="{{ url_for('static', filename='js/variables.js')
						 }}"></script>
<script src="{{ url_for('static', filename='js/events.js') }}"></script>
<script src="{{ url_for('static',
						 filename='js/patient/buttons.js')}}"></script>
{% endblock %}
{% block content %}
<div class="patient">
	<div class="top">
		<input type='text' id='patient_name' class='name_patient' placeholder="Ім'я">
	</div>
	<!-- <div class='title'> -->
		<!-- <h2>Характеристики</h2> -->
	<!-- </div> -->
										<!-- <div class="charakteristics"> -->
		<!-- <div class="list_characterics" id="list_characteristics"> -->
		<!-- </div> -->
		<!-- <input type="button" class="new" id="new" value="+" -->
					 <!-- onclick="addNewSymptom()"> </input> -->
	  <!-- </div> -->
	<div class='title'>
		<h2>Симптоми</h2>
	</div>
	<div class="symptoms">
		<div class="list_symptoms" id="list_symptoms">
		</div>
		<input type="button" class="new" id="new" value="+"
					 onclick="addNewSymptom()"> </input>
	</div>
	<div class="botton">
		<input class='add' type='button' value='Додати до бази даних' onclick='response_patient()'></input>
	</div>
</div>
<div class='search_modal hidden' id='search_modal_symptoms'>
	<div class='background_modal' id='background_modal'></div>
	<div class='search_list'>
		<div class='search'>
			<input type='search' name='search' id='search_symptoms'>
				<label for='search'>
		</div>
		<div class='search_objects_list' id='search_symptoms_list'>
		</div>
	</div>
</div>
{% endblock content%}
{% block style_link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/patient.css')}}">
{% endblock %}
