{% extends "layout.html" %}
{% block content %}

<dev class='name'>
	<p>{{user['name']['firstname']}}
	{{ user['name']['lastname'] }}</p>
</dev>
<dev class='content'>
	<dev class='left'>
		<dev class='personals'>
			<dev class='img'>
			</dev>
		</dev>
	</dev>
	<dev class='right'>
		<dev class='information'>
			<ul>
				<li>Електрона почта: {{ user['email'] }}</li>
				<li>Дата регістрації: {{ user['date'].date() }}</li>
				<li>Статус: {{ user['work'] }}</li>
			</ul>
		</dev>
	</dev>
</dev>

{% endblock %}
{% block style %}


.name {
display: flex;
justify-content: center;
margin-bottom: 10px;
width: 100%;
min-height: 20%;
text-align: center;
}

.name p {
font-size: 40px;
padding-bottom: 4px;
border-bottom: 5px solid #767676
}

.content {
display: flex;
min-width: 100%;
min-height: 100%;
}

.content .left {
width: 40%;
margin: 0 5% 0 0 ;
}

.content .left .personals {
display: grid;
}

.content .left .personals .img {
width: 300px;
height: 400px;
margin: 5% 20% 5% 20%;
background-color: #767676;
border-radius: 10px;
}

.content .right {
margin: 20px;
}

.content .right .information {
line-height: 1.5;
}

.content .right .information ul li {
list-style: circle;
}

{% endblock %}
