{% extends 'layout.html'%}
{% block script_link %}
<script src="{{ url_for('static', filename='js/response.js')
						 }}"></script>
<script src="{{ url_for('static', filename='js/variables.js') }}"></script>
<script src="{{ url_for('static', filename='js/events.js') }}"></script>
<script src="{{ url_for('static', filename='js/diseases/buttons.js')   }}"></script>
<script src="{{ url_for('static', filename='js/diseases/drawing.js')
						 }}"></script>
{% endblock %}
{% block content %}
{% include 'diseases.html'%}
<div class='new_diseases'>
	<div class='diseases_name'>
		<label for='diseases_name'>
		<input type='button' id='disease_name' name='diseases_name'
					 value="Обрати ім'я" onclick='searchDiseasesModal()'></input>
	</div>
	<input id='id_disease' value='' class='hidden'>
	<div class='body'>
		<div class='description'>
			<p>Опис:</p>
			<textarea value='Desc' name='desc' id='description'></textarea>
		</div>
		<div class='symptoms' id='symptoms'>
			<div class='title'>
				<h2>Симптоми</h2>
			</div>
			<div class='symptoms_list' id='symptoms_list'>
			</div>
			<div class='buttons'>
				<div class='new_old_modal hidden' id='new_old_modal'>
					<input type='button' class='add_new' id='add_new' value='New'
								 onclick='addNewSymptoms()'>
						<input type='button' class='add_new' id='add_new' value='Old'
									 onclick='addOldSymptoms()'>
						</div>
			<input type='button' id='add_button' class='add_button little_button'
						 value='+' onclick='modalNewOld()'></input>
		</div>
		</div>
	</div>
</div>
</div>
<div class='response'>
	<input class='response_button' id='response_button' type='button'
				 onclick='response_diseases()' value='Додати до бази знань'>
</div>
<div class='search_modal hidden' id='search_modal_symptoms'>
	<div class='background_modal' id='background_modal'></div>
	<div class='search_list'>
		<div class='search'>
			<input type='search' name='search' id='search_symptoms'>
				<label for='search'>
		</div>
		<div class='search_objects_list' id='search_symptoms_list'>
		</div>
	</div>
</div>
<div class='search_modal hidden' id='search_modal_diseases'>
	<div class='background_modal' id='background_modal'></div>
	<div class='search_list'>
		<div class='search'>
			<input type='search' name='search' id='search_diseases'>
				<label for='search'>
		</div>
		<div class='search_objects_list' id='search_diseases_list'>
		</div>
	</div>
</div>
{% endblock %}
{% block style_link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/diseases.css') }}" >
{% endblock %}
