.top {
		margin-bottom: 5%;
	  border: 3px solid #eeeeee;
}

.top a {
	color: #e0e0e0;
}

.top .header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	  vertical-align: middle;
		height: 40px;
		background-color: #333333;
    border-radius: 10px;
}

.left, .right {
		position: relative;
		display: flex;
		padding: 0.5em 0.7em 0.5em 0.7em;

}

.right svg {
		text-decoration: none;
		margin: 1px 10px;
		cursos: point;
}

.right svg:hover {
		fill: #ebebeb;
}

@keyframes delay {
  0%    { opacity: 0; }
  20%   { opacity: 1; }
  100%  { opacity: 1; }
}

.bar {
	position: absolute;
	right: 4px;
	top: 50px;
	width: 150px;
	padding: 8px 5px;
	background-color: #333333;
	border-radius: 10px;
	z-index: 2;
	transition-delay: 0.5s;
	animation: delay 0.5s;
}

.bar li {
	 margin-bottom: 4px;
}

.bar a:hover {
	color: #333333;
	background-color: #e0e0e0;
}

.bar a {
	display: inline-block;
	width: 100%;
	margin-top: 4px;
	padding: 2px;
	text-align: center;
	font-size: 16px;
	border-radius: 10px;
	transition: 0.5s;
}
