.diagnostics {
  height: 100%;
  margin: 5px;
  padding: 5px;
  border: 2px solid #767676;
}

.diagnostics .title {
  display: flex;
  height: auto;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #767676;
}

.diagnostics .title .status {
  text-align: center;
  font-size: 2.3vw;
}

.diagnostics .title .status:after {
  margin-left: 2px;
  text-align: center;
  font-size: 1.8vw;
  content: '⬤';
}

.diagnostics .title .red:after {
  color: #940410;
}

.diagnostics .title .green:after {
  color: #038060;
}

.diagnostics .body {
  display: flex;
  min-height: 200px;
}

.diagnostics .settings {
  width: 50%;
  min-height: 200px;
  margin: 2px;
  padding: 10px;

}

.diagnostics .results {
  width: 50%;
  min-height: 200px;
  margin: 2px;
  border: 2px solid #767676;
}

.diagnostics .results .result {
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 10px;
  padding-right: 30px;
  border: none;
  border-bottom: 2px solid #767676;
}

.diagnostics .results .result label {
  font-size: 2.5vw;
}

.diagnostics .results .result label:after {
  margin-right: 5px;
  content: ':';
}

.diagnostics .results .result p {
  font-size: 2.7vw;
}

.diagnostics input[type='button'] {
  	width: auto;
		height: 30px;
		padding: 3px;
		color: white;
		background-color: #747474;
		border: 1px solid #747474;
		border-radius: 4px;
		font-size: 2.4vw;
		text-align: center;
}

.diagnostics input[type='button']:hover {
		background-color: #545454;
}

.diagnostics .settings input[type='button'] {
  width: 100%;
  margin-bottom: 10px;
}

.diagnostics .settings label {
  font-size: 2.4vw;
}

.diagnostics .settings label:after {
  content: ':';
}

.diagnostics .settings input[type='number'] {
  width: 44px;
  border: none;
  font-size: 2.4vw;
}

.diagnostics .button {
  display: flex;
  margin: 10px;
  justify-content: center;
  width: 100%;
}
