
body {
		height: 4000px;
		background: #eeeeee;
}

* {
		overflow: hedden;
		font-size: 25px;
    font-family: 'Fira Code', monospace;
		color: #333333;
}

h1 {
		font-size: 35px;
}

p, a, svg {
		font-size: 20px;
		vill:  #e0e0e0;
		text-decoration: none;
}

input, textarea, select, button {
    background: #eeeeee;
    border: none;
    border-bottom: 2px solid #333333;
}

button, input[type='button'] {
		background: #333333;
}

.container {
		margin: 0 auto;
		color: #333333;
}


.msg {
		position: fixed;
		top: 24%;
		left: 0.4%;
		margin: 3px;
		padding: 5px;
		color: white;
		background-color: #094013;
		opacity: 1;
		border: 2px solid #747474;
		border-radius: 4px;
}
.ready {
		background-color: #922202;
}

.search_modal {
width: 100%;
height: 90%;
}

.search_list {
	position: absolute;
  top: 60px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 320px;
	height: 400px;
	background-color: #eeeeee;
	border: 2px solid #333333;
	border-radius: 10px;
	z-index: 2;
}

.search_list, .search input {
  width: 90%;
	height: 30px;
	margin: 10px 0 0 20px;
	border-bottom: 2px solid #333333;
}


.search_list, .objects_list {
	height: 92%;
	border: 2px solid #767676;
}

.search_list .search {
  display: flex;
}

.search_list .search label {
	width: 90px;
	height: 50px;
	padding: 0;
	margin: 0;
	content: '\1f50d';
}

.search_list .search label::after {
	display: block;
	width: 30px;
	margin: 10px 0 0 0;
  font-size: 28px;
	background-color: #eeeeee;
  border-bottom: 2px solid #3333333;
	content: '\1f50d';
	cursor: pointer;
}

.search_list .search_objects_list {
  max-height: 400px;
	padding: 10px;
	overflow: auto;
}

.search_list .search_objects_list .search_disease, .search_symptom, .search_patient {
	min-height: 25px;
	padding: 2px;
	margin: 6px;
	text-align: center;
	background-color: #333333;
	border: 2px solid #3333333;
	border-radius: 5px;
	cursor: pointer;
}

.search_list .search_objects_list .search_disease p, .search_symptom p, .search_patient p {
	margin: 4px;
	font-size: 2vw;
	color: white;
}

.hidden {
display: none;
}

.background_modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(1, 1, 1, 0.5);
	z-index: 0;
}


.active {
		background-color: #747474;
}
