p {
    margin: 0;
    color: #f8f8f8;
    font-size: 15px;
}
line {
    padding: 40px;
}
div.tooltip {
    position: absolute;
    padding: .6em;
    background: #333333;
    fill: #333333;
    color: #eeeeee;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: .9rem;
    z-index: 2;
}

div.tooltip text {
    fill: #eeeeee;
}

.funs {
    display: grid;
    position: absolute;
    width: auto;
    height: 60px;
    padding: 8px;
    background-color: #333333;
    border-radius: 8px;
}

.funs input[type="button"] {
    color: #333333;
    background-color: #eeeeee;
}

.funs input[type="button"]:hover {
    background-color: #cecece;
}
