

.patient {
		min-width: 200px;
		height: 500px;
	  margin: 10px;
	  padding: 0;
		border: 2px solid #333333;
		border-radius: 4px;
}

.patient .top {
		display: flex;
		height: 40px;
		padding: 4px 4px 4px 2px;
		margin-bottom: 0;
		justify-content: flex-start;
		align-items: center;
		border-bottom: 2px solid #333333;
}

.patient .top input {
		width: 30%;
		height: 20px;
		padding: 4px;
		margin: 0 0 0 10px;
		font-size: 17px;
}

.patient .top input[type='text']:focus {
		border-bottom: 2px solid lightblue;
}

.patient .title {
  margin-bottom: 10px;
	padding: 8px;
	border: none;
	border-bottom: 2px solid #333333;
}

.patient .symptoms {
		min-height: 400px;
		padding: 10px 0px 10px 0px;
}

.patient .symptoms .symptom {
		display: flex;
		max-height: 90px;
		margin-left: 5px;
		margin-bottom: 4px;
		margin-right: 5px;
		padding: 5px;
		border: 2px solid #333333;
	  border-radius: 5px;
		font-size: 2vw;
}

.patient .symptoms .symptom h2 {
  padding: 4px;
}

.patient .symptoms .symptom label {
	display: block;
	font-size: 2.7vw;
}

.patient .symptoms .symptom label:after {
	content: ': ';
}

.patient .symptoms .symptom input {
		width: auto;
		margin-right: 20px;
		font-size: 2.3vw;
}


.patient .symptoms .symptom #delete {
	margin-right: 15px;
  color: #eeeeee;
	background-color: #760532;
	border-color: #760532;

}

.patient .symptoms .symptom #delete:hover {
  color: white;
	background-color: #760532;
}

.patient .symptoms .symptom input[type='checkbox'] {
		width: 20px;
		height: 20px;
	  border: 2px solid #333333;
}

.patient .symptoms .symptom .types {
		width: 70px;
}

.patient .symptoms .symptom .block_value {
	  position: absolute;
		right: 10%;
}

.patient .symptoms .new {
		width: 30px;
		height: 30px;
		padding: 0;
		margin: 5px 50% 0 50%;
		color: #eeeeee;
		background-color: #333333;
		border: 1px solid #333333;
		border-radius: 4px;
		font-size: 22px;
		text-align: center;
}

.patient .symptoms .new:hover {
		background-color: #444444;
}


.patient .botton {
	  display: flex;
		width: 100%;
		height: 30px;
		padding: 10px;
		margin: 0 auto;
		bottom: 20px;
	  justify-content: center;
}

.patient .botton .add {
		width: auto;
		height: 35px;
		padding: 2px 6px 2px 6px;
		color: #eeeeee;
		background-color: #333333;
		border: 1px solid #3333333;
		border-radius: 4px;
		font-size: 15px;
}

.patient .botton .add:hover {
		background-color: #545454;
}

