
<div class='bar_diseases' style='position: absolute; display: flex;
																 top: 7%; left: 5%;'>
	<button class='little_button'
					onclick='window.location.href="./new"' style='margin-right: 4px;'>✏️</button>
	<button class='little_button' onclick='window.location.href="./update"'>🔧</button>
</div>
