<!DOCTYPE html>
<html lang="en">
	<head>
		  <meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width,
																		 initial-scale=1">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
			<link rel="stylesheet"
							href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
							/>
			<link rel="stylesheet" type="text/css" href="{{
				url_for('static',
				filename='css/reset.css') }}">
		  <link rel="stylesheet" type="text/css" href="{{
				url_for('static',
				filename='css/main.css') }}" >
			<link rel="stylesheet" type="text/css" href="{{
				url_for('static',
				filename='css/bar.css') }}" >
			<script src="{{
				url_for('static',
				filename='js/libs/d3.v7.js') }}" ></script>
			{% block style_link %}{% endblock %}
		  {% if title %}
			<title>{{ title }}</title>
			{% else %}
			<title>-_-</title>
			{% endif %}
		</head>
		<body>
			<style type='text/css'>

        .messages {
				max-width: 90%;
				max-height: 0px;
				padding: 0px;
        z-index: 2;
				}

				.messages .message {
				position: absolute;
			  top: 6%;
				min-width: 40%;
				padding: 5px;
				font-size: 25px;
				border: 2px solid #333333;
				border-radius: 10px;
				z-index: 2;
				}

				.messages .error {
				color: #eeeeee;
				background-color: #c42929;
				}

				.messages .msg {
				color: #eeeeee;
				background-color: #84b023;
				}

				.little_button {
				position: relative;
				width: 26px;
				height: 26px;
				color: #eeeeee;
				border: 2px solid #333333;
				border-radius: 5px;
				text-align: center;
				font-size: 16px;
				transition: 0.2s;
				cursor: pointer;
				}

				.little_button span {
				position: absolute;
				top: -3px;
				left: -3px;
			  right: 0;
				bottom: 0;
				color: #eeeeee;
				font-size: 30px;
				}
				{% block style %}{% endblock %}
			</style>
			<div class="messages">
				{% for category, message in get_flashed_messages(with_categories=true) %}
				<div class="message {{ category }}">
					{{ message }}
				</div>
				{% endfor %}
			</div>
			<div class="top">
				<div class="header">
					<div class=left>
						<a href="/home" class="logo"> {{ user['name']['firstname'] }} {{ user['name']['lastname'] }} </p></a>
					</div>
					<div class=right>
						<svg id='menu' fill="#e0e0e0" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50">
<path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"></path>
</svg>
						<svg onclick="window.location.href='https://gitlab.com/sjohanns'" fill="#e0e0e0" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 30 30">
    <path d="M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z"></path>
</svg>
					</div>
					<div class='bar hidden' id='bar'>
						<ul>
							{% for obj in bar %}
							<li><a onclick='window.location.href="./{{ obj[0] }}"'>{{ obj[1] }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class=container>
				{% block content %}{% endblock %}
			</div>
			<script type="text/javascript">
				{% block script %}{% endblock %}
			</script>
			<script src="{{ url_for('static', filename='js/drawing.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main/buttons.js')  }}"></script>
			{% block script_link %}{% endblock %}
		</body>
</html>
