{% extends "layout.html" %}
{% block script_link %}
<script src="{{ url_for('static', filename='js/response.js')
						 }}"></script>
<script src="{{ url_for('static', filename='js/variables.js') }}"></script>
<script src="{{ url_for('static', filename='js/events.js') }}"></script>
<script src="{{ url_for('static', filename='js/map.js')   }}"></script>
{% endblock %}
{% block content %}
<svg id="container">
  <div class="funs">
    <input type="button" class="little_button" id="delete" value="X" />
    <input type="button" class="little_button" id="new_symptom" value="N" />
  </div>
</svg>

{% endblock content %}
{% block style_link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/map.css')}}">
{% endblock %}
