
{% extends "layout.html" %}
{% block content  %}

<div class='init'>
	<form method="POST" action="" name='newtask' class="newtask" id="form">
		{{ form.hidden_tag() }}
		<div class="title_input">
			{{ form.title.label(class="title") }}
			{% if form.title.errors %}
			<span style='color: #732'> form.title.error </span>
			{% else %}
			{{ form.title(id="title") }}
			{% endif %}
		</div>
		<div class="ready_check">

			{{ form.ready(class="ready", id="ready") }}
		</div>
		<div class="disease_options">
			{{ form.diseases(class="diseases") }}
		</div>
		<div class="send_button">
			{{form.submit(class="send") }}
		</div>
	</from>
</div>

{% endblock content %}
