{% extends "layout.html" %}
{% block script_link %}
<script src="{{ url_for('static',
						 filename='js/response.js')}}"></script>
<script src="{{ url_for('static', filename='js/variables.js')
						 }}"></script>
<script src="{{ url_for('static', filename='js/patient/drawing.js') }}"></script>
{% endblock %}
{% block content %}
<div class="patients" id="patients">
	<div class="header">
		<label for="search">&#128270; </label>
		<input type="search" class="search" id='search_patient' name="search" value="">
	</div>
</div>
{% endblock content %}
{% block style_link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/patients.css')}}">
{% endblock %}
