{% extends "layout.html" %}
{% block content %}
<dev class="registration">
	<dev class="form">
		<form action="/registration" method="POST" enctype="application/json" role="form">
			{{ form.hidden_tag() }}
			<div class="username">
			{{ form.username.label() }}
			{{ form.username() }}
			</div>
			<div class="email">
				{{ form.email.label() }}
				{{ form.email() }}
			</div>
			<div class="password">
				{{ form.password.label() }}
				{{ form.password() }}
			</div>
			<div class="confirm">
				{{ form.confirm.label() }}
				{{ form.confirm() }}
			</div>
			<div class='work'>
				{{ form.work.label() }}
				{{ form.work() }}
			</div>
			<div class='date' style='display: none;'>
				{{ form.date(id='date') }}
			</div>
			<div class="submit">
				{{ form.submit(onclick="
				field = document.getElementById('date');
				field.value = new Date().toLocaleDateString('en-US')") }}
			</div>
		</form>
	</dev>
</dev>
{% endblock content%}
{% block style %}
	* {
	font-size: 35px;
	color: #747474;
	}
	input, select, option {
	padding: 6px 11px 6px 11px;
	font-size: 25px;
	border: 2px solid #747474;
	border-radius: 10px;
	}
	.registration {
	display: flex;
	width: 100%;
	align-items: center;
	}
	.form {
	width: 100%;
	align-items: center;
	}
	.form form {
	position: absolute;
	left: 0;
	right: 0;
	top: 70px;
	bottom: 0;
	max-width: 40%;
	height: 500px;
	margin: auto;
	}
	.form form div {
	margin-bottom: 20px;
	}
	.form form .submit input {
	width: 190px;
	height: 50px;
	padding: 4px;
	text-align: center;
	background-color: white;
	border: 2px solid #747474;
	border-radius: 10px;
	transition: 0.2s;
	}
	.form form .submit input:hover {
	color: white;
	background-color: #747474;
	}
	.form form .work select {
	background-color: white;
	border: 2px solid #747474;
	border-radius: 10px;
	}
{% endblock style %}
