
select {
  max-width: 120px;
	font-size: 18px;
	background-color: white;
  border-style: none;
  border-bottom: 2px solid #767676;
}

option {
font-size: 18px;
}

input {
	border-style: none;
  border-bottom: 2px solid #767676;
}

input[type="range"] {
		width: 90px;
}

.container {
	display: flex;
	justify-content: center;
}

.new_diseases {
  min-width: 600px;
	min-height: 200px;
	padding: 10px;
}

.new_diseases p {
	text-align: center;
	margin: 3px;
	font-size: 2.5vw;
}

.new_diseases .diseases_name {
	display: flex;
	margin-top: 2%;
	margin-left: 5%;
	margin-bottom: 2%;
	justify-content: left;
}

.new_diseases .diseases_name .name {
		width: auto;
}

.new_diseases .diseases_name input[type='button'] {
		width: 130px;
		height: 30px;
		padding: 0;
		color: #747474;
		background-color: white;
		border: 1px solid #747474;
		border-radius: 4px;
		font-size: 17px;
		text-align: center;
}

.new_diseases input[type='text'], input[type='range'] {
	width: 90px;
	font-size: 2vw;
	border-style: none;
  border-bottom: 2px solid #767676;
}

.new_diseases .description p {
	font-size: 2vw;
}

.new_diseases .description textarea {
	margin-top: 4px;
	font-size: 2vw;
	border-style: none;
  border: 2px solid #767676;
}

.new_diseases .body .symptoms {
margin: 2% 0 0 0;
border: 2px solid #767676;
}

.new_diseases .body .symptoms .title {
	display: flex;
	justify-content: left;
	vertical-align: middle;
  padding: 4px;
	border-bottom: 2px solid #767676;
}

.new_diseases .body .symptoms .title h2 {
	margin-right: 1%;
}


.new_diseases .body .symptoms .title input:nth-child(1) {
	margin-right: 4px;
  color: #760532;
	border-color: #760532;
}

.new_diseases .body .symptoms .title input:hover {
		color: white;
		background-color: #747474;
}

.new_diseases .body .symptoms .title input:nth-child(1):hover {
  color: white;
	background-color: #760532;
}



.new_diseases .body .symptoms .symptom {
	margin: 4px;
	border: 2px solid #767676;
}

.new_diseases .body .symptoms .symptom h2 {
  padding: 4px;
}

.new_diseases .body .symptoms .body div {
	display: flex;
	margin-left: 15px;
	margin-bottom: 4px;
	margin-right: 50px;
	justify-content: space-between;
}

.new_diseases .body .symptoms .symptom label {
	display: block;
	font-size: 2.4vw;
}

.new_diseases .body .symptoms .symptom label:after {
	content: ': ';
}


.new_diseases .body {
	padding: 2% 10% 2% 10%;
}

.new_diseases .body .symptoms .buttons {
position: relative;
display: flex;
width: 100%;
height: auto;
padding: 5px 0 5px 0;
justify-content: center;
}

/*
.new_diseases .body .symptoms .buttons .add_button {
		width: 26px;
		height: 26px;
		text-align: center;
		font-size: 17px;
		background-color: white;
		border: 2px solid #747474;
		border-radius: 5px;
} */

.new_diseases .body .symptoms .buttons .add_button:hover {
    color: white;
		background-color: #545454;
}

.new_diseases .body .symptoms .buttons .new_old_modal {
	position: absolute;
	bottom: 34px;
	width: 115px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #767676;
	border: 1px solid #767676;
	border-radius: 5px;
	z-index: 2;
}

.new_diseases .body .symptoms .buttons .new_old_modal input {
width: 95%;
margin: 2px;
	font-size: 15px;
	text-align: center;
	background-color: white;
  border: none;
}


.response {
display: flex;
width: 100%;
justify-content: center;
}

.response .response_button {
		width: auto;
		height: 30px;
		padding: 3px;
		color: white;
		background-color: #747474;
		border: 1px solid #747474;
		border-radius: 4px;
		font-size: 17px;
		text-align: center;
}

.response .response_button:hover {
		background-color: #545454;
}
