
body {
		height: 4000px
}

* {
		overflow: hedden;
		font-size: 25px;
		color: #545455;
}

h1 {
		font-size: 35px;
}

p {
		font-size: 20px;
}

.container {
		margin: 0 auto;
}

.top {
		margin-bottom: 5%;
}

.top .header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		background-color: #000;

}

.left, .right {
		position: relative;
		display: flex;
		padding: 0.5em 0.7em 0.5em 0.7em;

}
.left p {
		color: #ffffd9;
}
.right a {
		text-decoration: none;
		margin: 0 5px;
		color: #ffffd9;
}


.task {
		width: 70%;
		height: 50%;
		margin: 10px auto;
		padding: 0 20px
}

.task * {
		block: inline-block;
		/* border: 2px solid #999; */
		margin: 10px 0;
}

.task .content {}

.task .content * {
		font-size: 17px;
}

.task .content .title {
		color: #646464;
		font-size: 35px;
}

.task .content .checker input[type="checkbox"] {
		-webkit-appearance: none;
		display: none;
		/*
		cursor: pointer;
	 */
}

.task .content .checker input[type="checkbox"]:checked + label::before {
		background-color: #3589
}

.task .content .checker label {
		padding-left: 0px;
}

.task .content .checker label::before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		margin: 0 10px 0 0;
		border: 2px solid #747474;
		border-radius: 30%;
		background-color: #4868;
		transition: 0.2s;
}

.init {
		margin: 10px 5px 0 5px;
}

.init .newtask {
		width: auto;
		min-height: 300px;
		padding: 30px 30px;
		border: 2px solid gray;
}


.init .newtask label {
		font-size: 20px;
		text-align: center;
		padding: 5px;
}
.init .newtask .title_input input {
		width: 30%;
		height: 20px;
		font-size: 17px;
		border: 2px solid #878787;
		border-radius: 5px;
}
/*
.init .newtask .ready_check input[type="checkbox"] {
		-webkit-appearance: none;
		display: none;

		cursor: pointer;

}

.init .newtask .ready_check input[type="checkbox"]:checked + label::before {
		background-color: #3589
}

.init .newtask .ready_check label {
		padding-left: 0px;
}

.init .newtask .ready_check label::before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		margin: 20px 0 0 0;
		border: 2px solid #747474;
		border-radius: 5px;
		background-color: #4868;
		transition: 0.2s;
}
*/
.init .newtask .disease_options .diseases {
		width: 100px;
		height: 30px;
		margin: 20px 0 0 0;
		border: 2px solid #747474;
		border-radius: 5px;
		font-size: 20px;
}

.init .newtask .disease_options .diseases option {
		font-size: 20px;
}

.init .newtask .send_button .send {
		width: 100px;
		height: 30px;
		margin: 20px 0 0 0;
		border: 2px solid #747474;
		border-radius: 5px;
		font-size: 20px;
}


.msg {
		position: fixed;
		top: 24%;
		left: 0.4%;
		margin: 3px;
		padding: 5px;
		color: white;
		background-color: #094013;
		opacity: 1;
		border: 2px solid #747474;
		border-radius: 4px;
}
.ready {
		background-color: #922202;
}

.search_modal {
width: 100%;
height: 90%;
}

.search_list {
	position: absolute;
  top: 60px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 320px;
	height: 400px;
	background-color: white;
	border: 2px solid #767676;
	border-radius: 5px;
	z-index: 2;
}

.search_list, .search input {
  width: 90%;
	height: 30px;
	margin: 10px 0 0 20px;
	border: none;
	border-bottom: 2px solid #767676;
}

.search_list, .objects_list {
	height: 92%;
	border: 2px solid #767676;
}
.search_list .search {
  display: flex;
}

.search_list .search label {
	width: 90px;
	height: 50px;
	padding: 0;
	margin: 0;
	content: '\1f50d';
}

.search_list .search label::after {
	display: block;
	width: 30px;
	margin: 13px 0 0 0;
  font-size: 25px;
  border-bottom: 2px solid #767676;
	content: '\1f50d';
	cursor: pointer;
}

.search_list .search_objects_list {
  max-height: 400px;
	padding: 10px;
	overflow: auto;
}

.search_list .search_objects_list .search_disease, .search_symptom, .search_patient {
	min-height: 25px;
	padding: 0;
	margin: 6px;
	text-align: center;
	background-color: #767676;
	border: 2px solid #767676;
	border-radius: 5px;
	cursor: pointer;
}

.search_list .search_objects_list .search_disease p, .search_symptom p, .search_patient p {
	margin: 4px;
	font-size: 2vw;
	color: white;
}

.hidden {
display: none;
}

.background_modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(1, 1, 1, 0.5);
	z-index: 0;
}


.active {
		background-color: #747474;
}
