
.patients {
	  position: relative;
		margin: 30px;
		padding: 15px;
	  font-size: 20px;
		border: 2px solid #747474;
		border-radius: 2px;
}

.patients .header {
		display: flex;
		margin-bottom: 10px;
		padding: 5px;
}

.patients .header label {
	width: 24px;
  border: none;
  border-bottom: 2px solid #767676;
}

.patients .header input {
	font-size: 2vw;
	border: none;
  border-bottom: 2px solid #767676;
}

.patients .header p {
		color: #2d2d31;
		vertical-align: middle;
		font-weight: 300;
}

.patients .patient {
		margin-top: 5px;
		border: 2px solid #747474;
}

.patients .patient .title {
	padding: 5px;
	display: flex;
	vertical-align: middle;
	border-bottom: 2px solid #767676;
}

.patients .patient .name {
	  vertical-align: middle;
	  margin-top: 5px;
		margin-left: 10px;
}

.patients .symptoms {
	padding: 5px;
}

.patients .symptoms .symptom {
	display: flex;
	padding: 4px;
	justify-content: space-between;
	border: none;
	border-bottom: 2px solid #767676;
}

.patients .symptoms .symptom label {
	color: #747474;
  font-size: 2vw;
}

.patients .symptoms .symptom input {
	color: #747474;
  font-size: 2vw;
	border: none;
	border-bottom: 2px solid #767676;
}

.patients .symptoms_btn {
		height: 30px;
		margin: 0 0 0 0;
		background-color: white;
		border: 2px solid #747474;
		border-radius: 5px;
		vertical-align: middle;
		font-size: 20px;
		transition: 0.2s;
}

.patients .symptoms_btn:hover {
		color: white;
		background-color: #747474;
}

.patients .symptoms_btn:active {
		color: white;
		background-color: #747474;
}
